<h1>Привет!</h1>

<%= link_to "Login", new_user_session_path %>

<%= form_tag do %>
  <%= label_tag :equation, 'Equation to calculate:' %>
  <%= text_field_tag :equation, @equation %>
  <%= button_tag 'Calculate' %>
<% end %>

<table>
  <%= render @results %>
</table>